.chamada p.collapse:not(.show) {
	height: 42px !important;
	overflow: hidden;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.chamada p.collapsing {
	min-height: 42px !important;
}

.chamada a.collapsed:after  {
    content: '+ Leia mais';
}

.chamada a:not(.collapsed):after {
    content: '- Leia menos';
}

/*.corpo {
	width: 931px;
	margin:0 auto 0 auto; background:#DDD;
}
#Topo {
	height: 140px;
	width: 931px;
}
#LogoCLBA {
	height: 100px;
	width: 300px;
	float: left;
	margin: 20px 0 0 15px;
}
#LogoIFMG {
	height: 120px;
	width: 110px;
	float: right;
	margin: 10px 0 0 0;
}*/

/*.Conteudo {
	height: 2000px;
	width: 930px;
}*/

#inscreva {
	height: 60px;
	width: 931px;
	clear: both;
	font-family: 'Oswald', sans-serif;
	background-image: url(../clba2018-master/img/Linhas3.png);

}
#Destaque {
	height: 425px;
	width: 931px;

}
/*#cartaz {
	height: 624px;
	width: 500px;
	float: left;
	margin: 29px 0 0 0;
}*/

#atividade1 {
	height: 200px;
	width: 400px;
	float: left;
	margin: 15px;

}

#atividade2 {
	height: 200px;
	width: 400px;
	float: left;
	margin: 15px;
}

#atividade3 {
	height: 200px;
	width: 400px;
	float: left;
	margin: 15px;
}

#atividade4 {
	height: 425px;
	width: 445px;
	float: left;

}

#atividade5 {
	height: 425px;
	width: 445px;
	float: left;
	margin: 0 0 0 23px;

}
#Programacao {
	height: 50px;
	width: 931px;
	font-family: 'Oswald', sans-serif;
	background-image:url(../clba2018-master/img/Linhas3.png);


}


/*.Titulo {
	height: 470px;
	width: 933px;
	background: #FFF;
}*/

#DestaqueInfo{
	background: #FFF;
	opacity: 0.6;
	position: absolute;
	top: 1033px;
	width: 931px;
	height: 80px;
}

#atividadeInfo1{
	background: #FFF;
	position: absolute;
	width: 400px;
	height: 62px;
	top: 1266px;
	opacity: 0.6;
}
